.selectNames {
	position: relative;
	font-family: Arial, sans-serif;
}

.selectNames select {
	width: 120px;

	padding: 10px;

	font-size: 16px;
	text-align: center;

	border: none;
	border-radius: 4px;

	background-color: hsl(209, 23%, 22%);
	color: #fff;
}

.selectNames select:hover {
	outline: none;
	background-color: #3469c7;
}

.selectNames select:focus {
	outline: none;
}

.selectNames select option {
	color: #fff;
	background-color: hsl(209, 23%, 22%);

	text-align: start;
}
.defaultOption {
	display: none;
}
