.nav {
	display: flex;
	background-color: hsl(209, 23%, 22%);
	align-items: center;

	width: 100%;

	font-size: 15px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 500;
}

.buttons {
	width: 50vw;
	display: flex;
	justify-content: space-evenly;
}
