@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	height: 100%;
	width: 100%;
	background-color: hsl(207, 26%, 17%);
	color: hsl(0, 0%, 100%);
}
body {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

button {
	all: unset;
	background-color: hsl(209, 23%, 22%);

	cursor: pointer;
	color: white;
}
button:focus {
	outline: none;
	-shadow: 0 4px 8px #3469c7;
}

button:hover {
	background-color: #3469c7;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
