.nav {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
}

.menu {
	display: flex;
	width: 50%;
	justify-content: start;
	gap: 20px;
}

.selectors {
	display: flex;

	gap: 10px;
}

.filtrarPaises {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.filtrarPaises p {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ordenarPaises {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.ordenarPaises p {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.restaurarDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.restaurarDiv p {
	display: flex;
	justify-content: center;
	align-items: center;
}
