.searchBar {
	width: 20%;

	margin-left: 15px;
	display: flex;
	justify-content: start;
	height: 40px;
}

.input,
.buttonSearch {
	font-size: 14px;
	border: none;
	outline: none;
}

.input {
	color: #fff;
	background-color: hsl(209, 23%, 22%);
	width: 100%;
}
.input::placeholder {
	color: #fff;
}

.input :focus {
	outline: none;
	border-bottom: 1px solid white;
}

.buttonSearch {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(209, 23%, 22%);

	cursor: pointer;
}

.lupa {
	width: 30px;
	height: 30px;
}

/* Focus y Hovers */
.input:focus {
	outline: none;
}

.buttonSearch:focus {
	outline: none;
	box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.buttonSearch:hover {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
