.buttonRestore {
	width: 120px;
}
.button {
	width: 90px;

	padding: 7px;

	font-size: 16px;
	text-align: center;

	border: none;
	border-radius: 4px;

	background-color: hsl(209, 23%, 22%);
	color: #fff;
	appearance: none;
}

.button:hover {
	outline: none;
}

.button:focus {
	outline: none;
}
