.pag {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(207, 26%, 17%);
	gap: 10%;
}

.prev {
	display: inline-block;
	margin: 9px;
}

.prev button {
	padding: 10px;
	background-color: hsl(209, 23%, 22%);
	color: #fff;
	border-radius: 7px;
	height: 27px;
}

.prev button:hover {
	outline: none;
	background-color: white;
	color: black;
}

.numbers {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.numbers p {
	backdrop-filter: blur(100px);
	font-size: 20px;
	border-radius: 7px;
}

.changePageDiv {
	width: 30%;

	margin-left: 15px;
	display: flex;
	justify-content: start;
}

.Next {
	display: inline-block;
	margin: 9px;
}

.Next button {
	padding: 10px;
	background-color: hsl(209, 23%, 22%);
	border-radius: 7px;
	height: 27px;
	color: white;
}

.Next button:hover {
	outline: none;
	background-color: white;
	color: black;
}

.inputPage {
	color: #fff;
	background-color: hsl(209, 23%, 22%);
	width: 30%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.inputPage::placeholder {
	color: #fff;
}

.inputPage:focus {
	outline: none;
}

.buttonPage {
	width: 25px;
	text-align: center;
}
